@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
@npm-registry:registry=https://gitlab.eapteka.ru/api/v4/packages/npm/
//gitlab.eapteka.ru/api/v4/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
//gitlab.eapteka.ru/api/v4/projects/159/packages/npm/:_authToken=1Uw5CH6Y6mFzyoisxwUv
